@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #1992d4;
  --secondary-color: #e2e8f0;
  --accent-orange: #f0b429;
  --accent-red: #f44336;
  --gray-text: #636363;
  --gray-icon: #333333;
}

body {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

aside {
  height: inherit;
  display: grid;
  grid-template-rows: 13% 47% 30% 10%;
  padding: 20px 0;
  background-color: var(--primary-color);
}

h1,
.aside-menu {
  display: grid;
  grid-template-columns: 68px 1fr;
  align-items: center;
  color: white;
}

.dashboard-icon {
  font-size: 36px;
  justify-self: center;
}

.aside-menu {
  padding: 11px 0;
}

.aside-menu:hover {
  background-color: var(--accent-red);
}

.aside-menu-icon {
  font-size: 18px;
  justify-self: center;
}

.aside-menu-text {
  font-size: 0.93rem;
  font-weight: 500;
}

footer {
  align-self: end;
  padding-left: 27px;
  font-size: 0.9rem;
}

footer a {
  color: white;
  transition: 0.3s;
}

footer a:hover {
  color: var(--accent-orange);
}

main {
  height: inherit;
  display: grid;
  grid-template-rows: 25% 65%;
  background-color: var(--secondary-color);
}

header {
  background-color: white;
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.16), 4px 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px 37px;
  display: grid;
  grid-template-rows: 35% 65%;
  font-weight: 500;
}

.search-n-alert-div {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
}

.search-icon {
  cursor: pointer;
}

.search-box {
  border: none;
  border-radius: 15px;
  margin-left: 13px;
  padding: 0 20px;
  width: 80%;
  height: 25px;
  background-color: var(--secondary-color);
}

.search-box:focus {
  outline: none;
}

.alert-n-profile-article {
  display: grid;
  grid-template-columns: 1fr 1fr 2.1fr;
  align-items: center;
}

.alert-n-profile-article span:first-child {
  transition: 0.3s;
  cursor: pointer;
}

.alert-n-profile-article span:first-child:hover {
  font-size: 26px;
}

.alert-n-profile-article img {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.alert-n-profile-article img:hover {
  width: 43px;
}

.alert-n-profile-article span:last-child {
  font-size: 0.9rem;
  transition: 0.3s;
  cursor: pointer;
}

.alert-n-profile-article span:last-child:hover {
  font-size: 0.93rem;
}

.bio-n-social-div {
  display: grid;
  grid-template-columns: 50% 50%;
}

.avatar-n-username {
  display: flex;
  align-items: center;
}

.bio-n-social-div img {
  border-radius: 50%;
  height: 80px;
}

.username {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.username span:first-child {
  font-size: 0.8rem;
}

.username span:last-child {
  font-size: 1.3rem;
}

.socials-span {
  justify-self: end;
  align-self: center;
}

.social-btn {
  border-radius: 20px;
  margin-left: 20px;
  padding: 10px 23px;
  background-color: var(--primary-color);
  font-size: 0.8rem;
  color: white;
  transition: 0.5s;
}

.social-btn:hover {
  background-color: var(--accent-red);
}

.cards-section {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 17px;
}

h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.25rem;
}

.articles-cards-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article-card-div {
  display: grid;
  grid-template-rows: 20% 1fr 13%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-left: 6px solid var(--accent-orange);
  border-radius: 7px;
  height: 200px;
  padding: 30px;
}

.article-card-div h3 {
  font-weight: 500;
  color: black;
  transition: 0.3s;
}

.article-card-div h3:hover {
  color: var(--accent-red);
}

.article-card-div p {
  margin-top: 3px;
  color: var(--gray-text);
}

.article-card-div div {
  justify-self: end;
  display: flex;
  align-items: center;
}

.article-icon {
  font-size: 1.1rem;
  color: var(--gray-icon);
  cursor: pointer;
  transition: 0.4s;
}

.article-icon:hover {
  color: var(--accent-red);
}

.material-symbols-outlined.article-icon {
  font-size: 24px;
}

#star-article-control {
  display: none;
}

#star-article-control:checked + label > span {
  color: var(--accent-orange);
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.fa-globe {
  margin: 0 13px;
}

a {
  text-decoration: none;
}
